@import './base.css';

#app {
  max-width: 500px;
  margin: 0 auto;

  display: flex;
  height: 100vh;

  align-content: stretch;
  flex-direction: column;
}

#app header {
  height: auto;
}

#app main {
  flex: 1;
  height: auto;
}

#app footer {
  height: auto;
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: flex;
  }
}

.bar {
  display: flex;
  height: 10px;
  width: 100%;
}
.bar > * {
  flex: 1;
  height: 100%;
  width: 100%;
}
.bar > .purple {
  background-color: var(--color-purple-50);
}
.bar > .yellow {
  background-color: var(--color-yellow-50);
}
.bar > .red {
  background-color: var(--color-red-50);
}
.bar > .blue {
  background-color: var(--color-blue-50);
}
.bar > .gray {
  background-color: var(--color-gray-30);
}
.bar > .green {
  background-color: var(--color-green-50);
}
.bar > .brown {
  background-color: var(--color-brown-50);
}
