@import './base.css';

#app {
  max-width: 500px;
  margin: 0 auto;

  display: flex;
  height: 100vh;

  align-content: stretch;
  flex-direction: column;
}

#app header {
  height: auto;
}

#app main {
  flex: 1;
  height: auto;
}

#app footer {
  height: auto;
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: flex;
  }
}
